
#mainnavbar
{
    /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%) !important; */
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
/*#mainnavbar.scrolled
{
    background: #0F2027;   fallback for old browsers 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    opacity: 0.5; 
}*/
#searchbox
{
    width:15em;
    margin-left: 2em;
}
#logout
{
    color:white;
    margin-left: 1em;
    margin-right: 1em;
} 
header
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1598736769671-5170487f5588?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg1fHxib29rfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    /* background-attachment: fixed; */
    overflow: overlay; 
}
.navbar-toggler
{
    background-color: white;
}
@media screen and (min-width:600px)
{
#logout
{
    position:absolute;
    right: 1%;
    color:peachpuff;
} 
}
.navbar-brand
{
    color: aliceblue !important ; 
    font-family: "Archivo", sans-serif;
}
.navilinks li a{
    margin-left: 1em;
    margin-right: 1em;
    color: aliceblue !important;

}
div.dropdown-menu a
{
    color:black !important;
}
.dropdown-item
{
    margin-left:0px !important;
}
.navbar-brand:hover
{
    transform: scale3d(1.2, 1.2, 0.3) !important;
    
}
#navbarNavDropdown a:hover
{
    transform: scale3d(1.2, 1.2, 0.3) !important;
   
    
}
:root {
    --shadow-color:#6d597a;
    --shadow-color-light:#3e1f47;
    /* #FF9E9E #ffcbf2 */
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  p {
    /* margin: calc(50vh - 40px) auto 0 auto; */
    position: relative;
    top:0.45em;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: top;
  }
  
  .logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }
  * { box-sizing:border-box; }
body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-attachment: fixed; 
    overflow: overlay; 
}

.bookscont
{
    
    position: relative;

    left:10em;
    top: 7.5em;
    
}
.bookscont h5{
    position: relative;
    top:5em;
}
.cont
{
    margin: 2%;
    height: 15em;
    border: 3px solid peru;
    
}
 @media screen and (min-width:576px)
{
.naviglinks
{
    display: inline-flex;
    position: absolute;
    top: 7.5em;
    width:5em;
    height:15em;
    margin-left: 1em;
    background-color: white;
}
} 