@import url("fonts.css");

header
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images5.alphacoders.com/659/thumb-1920-659155.jpg");
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    /* background-attachment: fixed; */
    overflow: overlay; 
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images4.alphacoders.com/810/810873.jpg");
  background-attachment: fixed;
  background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
}

:root {
    --shadow-color:#6d597a;
    --shadow-color-light:#3e1f47;
    /* #FF9E9E #ffcbf2 */
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  p {
    /* margin: calc(50vh - 40px) auto 0 auto; */
    position: relative;
    top:0.45em;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: top;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

* { box-sizing:border-box; }

div.carousell {
    background-size: cover;
    
    overflow: overlay; 
    color:#fff;
    height: 100vh;
}

img { background-color:#fff; padding:5px;}

.cascade-slider_container {
  position: relative;
  width: 90%;
  height: 700px;
  margin: 0 auto;
  padding:0 50px;
  margin-top: 0em;
  
}
a{
    color: white;
    text-decoration: none;
}
.carousell a:hover{
    color: white;
    text-decoration: none;
    text-shadow: wheat;
    box-shadow: wheat;
    transform: scale3d(1.2, 1.2, 0.3);
    
}
.carousell h3:hover{
    color: white;
    text-decoration: none;
    text-shadow: wheat;
    box-shadow: wheat;
    transform: scale3d(1, 1.5, 0.3);
    
}

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) perspective(300px) rotateX(0deg) rotateY(0deg) scale(.4);
;
  transition: all 1s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.cascade-slider_item.next {
  left: 50%;
  transform: translateY(-50%) translateX(-150%) perspective(300px) rotateX(0deg) rotateY(-27deg) scale(.8);
;
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.prev {
  left: 50%;
  transform: translateY(-50%) translateX(50%) perspective(300px) rotateX(0deg) rotateY(27deg) scale(.8);
;
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) perspective(300px) rotateX(0deg) rotateY(0deg) scale(1);
;
  opacity: 1;
  z-index: 5;
}

.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 5;
}

.cascade-slider_arrow-left { left: 0; }

.cascade-slider_arrow-right { right: 0; }

.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover { background: #555; }

.cascade-slider_dot.cur { background: #555; }

#temp {
  background: url("images/read.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  height: 100vh;
}

#fil {
  height: 100vh;
}

h3{
    text-align: center;
}

header h1
{
    position: relative;
   top: 40%;
   color: #fff;
   left: auto;
   margin-left: 1em;
   text-align: center;
   margin-right:1em;
   text-shadow: coral;
   -webkit-text-stroke: 1px black;
   font-weight: bold;
}

body h2
{
    position: relative;
   top: 35%;
   color: #fff;
   left: auto;
   margin-left: 1em;
   margin-right: 1em;
   text-align: center;
}
