body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-attachment: fixed; 
    overflow: overlay; 
}

:root {
    --shadow-color:#6d597a;
    --shadow-color-light:#3e1f47;
    /* #FF9E9E #ffcbf2 */
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  p {
    /* margin: calc(50vh - 40px) auto 0 auto; */
    position: relative;
    top:0.45em;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: top;
  }
  
  .logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }
  * { box-sizing:border-box; }

.pic
{
    width: 60%;
    height:20rem;
    background-color: pink;
    border:3px solid grey ;
}
#books
{
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    top: 20%;
    border:3px solid peru;
}
#books p{
    font-weight: 300;
    font-family:sans-serif ;
}
#books a{
    font-family:sans-serif ;
    font-weight: 400;
}

.cart-empty
{
    max-width: 1400px;
    max-height: max-content;
    width: 85%;
    height:auto;
    position: relative;
    top: 10em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 16em;
    
}
.cart-empty h1
{
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 1em;
}
.cart-empty a
{
   
    padding-left: 2em;

}


.cart-item
{
    border-top:3px solid grey ;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    margin-top: 0.5em;
    
}
.cart-empty .but 
{
  display: inline-flex;
  flex-direction: column-reverse;
}
@media (max-width:575px)
{
    .cart-empty .but 
{
  display: inline-flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  padding-top: 2em;
}
#pict
{
    width: auto;
    height:20rem;
    background-color: pink;
    border:3px solid grey ;
}
}