{% load static %}
<!-- <header> -->

    <html>
        <head>
            <!-- NAVBAR CSS -->
            <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
            <!-- OTHER SCRIPTS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

            <!-- CATEGORY -->
            <script>
                const category = ['Adventure novel', 'Autobiography', 'Children\'s literature', 'Cyberprunk', 'Epistolary novel', 'Fantasy',
                    'Fiction', 'Gothic Fiction', 'Historical Fiction', 'Mystery', 'Parody', 'Philosophy', 'Religious text', 'Satire',
                    'Science Fiction', 'Speculative Fiction', 'War novel'];
            </script>

{% block content %}
{% endblock content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3 px-4" id="mainnavbar">
    <a class="navbar-brand" href="/home">JJM BOOK STORE</a>

    <form class="nav_search" type="get" action="/search">
        <input type="search" id="searchbox" placeholder="What are you looking for?" name="query" id="query">
        <button>Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-2 navilinks">
            <li class="nav-item">
                <a class="nav-link" href="/book">Explore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ContactUs">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Comedy</a>
                    <a class="dropdown-item" href="#">Horror</a>
                </div>
            </li>
            
            {% if us %}
                <a class="nav-link" id="logout" href="/accounts/login">
                    <li>{{us.email}} LOGOUT</li></a>
            {% else %}
                <a class="nav-link" id="logout" href="/accounts/login">
                    <li>LOGIN</li></a>
            {% endif %}
        </ul>
    </div>
</nav>


{% block tail %}
{% endblock tail %}

        <script>
            $(function () {
                $(document).scroll(function () {
                    var $nav = $("#mainnavbar");
                    $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
                });
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    

        <footer id="ContactUs">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h3>About Us</h3>
                        <ul>
                            <li>Madhur Dixit</li>
                            <li>Jayadeep More</li>
                            <li>Vedant Sarnobat</li>
                            <li>Omkar Sawant</li>
                        </ul>
                    </div>
                    <div class="col-lg ">
                        <h3>Contact Us</h3>
                        <ul>
                            <li>madhur.dixit@somaiya.edu</li>
                            <li>jayadeep.m@somaiya.edu</li>
                            <li>vedant.sarnobat@somaiya.edu</li>
                            <li>omkar18@somaiya.edu</li>
                        </ul>
                    </div>
                </div>
                Designed & Developed By: JJM#0105
            </div>
        </footer>
    </body>
</html>