{% extends "base.html" %}
{% load static %}

{% block content %}
        <title>Home</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    </head>

    <body>
        <header>
            {% endblock content %}
            {% block tail %}
        </header>
        
        <div class="carousell">
            <div class="cascade-slider_container " id="cascade-slider">
                <div class="cascade-slider_slides">
                    <div class="cascade-slider_item">
                        <h3><a href="#">Animal Farm</a></h3>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Animal_Farm_-_1st_edition.jpg/330px-Animal_Farm_-_1st_edition.jpg"
                            width="300px" height="400px" alt="Animal Farm">
                    </div>
                    <div class="cascade-slider_item">
                        <h3>A Clockwork Orange</h3>
                        <img src="https://upload.wikimedia.org/wikipedia/en/2/23/Clockwork_orange.jpg" width="300px"
                            height="400px" alt="A Clockwork Orange">
                    </div>
                    <div class="cascade-slider_item">
                        <h3>The Plague</h3>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/La_Peste_book_cover.jpg/330px-La_Peste_book_cover.jpg"
                            width="300px" height="400px" alt="The Plague">
                    </div>
                    <div class="cascade-slider_item">
                        <h3>Children of Dune</h3>
                        <img src="https://upload.wikimedia.org/wikipedia/en/f/f8/Children_of_Dune-Frank_Herbert_%281976%29_First_edition.jpg"
                            width="300px" height="400px" alt="Children of Dune">
                    </div>
                    <div class="cascade-slider_item">
                        <h3>Blade Runner 2</h3>
                        <img src="https://upload.wikimedia.org/wikipedia/en/c/c0/Blade_Runner_2_The_Edge_of_Human_KW_Jeter_cover.jpg"
                            width="300px" height="400px" alt="Blade Runner 2: The Edge of Human">
                    </div>
                    <div class="cascade-slider_item">
                        <h3>Farenheit 451</h3>
                        <img src="https://duckduckgo.com/i/efd10c65.jpg"
                            width="300px" height="400px" alt="Farenheit 451">
                    </div>
                    <centre>
                        <ol class="cascade-slider_nav">
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                        </ol>
                    </centre>
                </div>
    
                <span class="cascade-slider_arrow cascade-slider_arrow-left" style="font-size: xx-large;" data-action="prev"><</span>
                <span class="cascade-slider_arrow cascade-slider_arrow-right" style="font-size: xx-large;" data-action="next">></span>
            </div>
        </div>
    
        <div id="temp">

        </div>
        <div id="fil"></div>
    <script src="/static/js/home.js"></script>
    
{% endblock tail %}