{% extends "base.html" %}
{% load static %}

{% block content %}
        <title>Home</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    </head>

    <body>
        <header>
            {% endblock content %}
            {% block tail %}
            <h1>"Whether you come back by page or by the big screen, Hogwarts will always be there to welcome you home."
                <br> ~J.K.Rowling
            </h1>
        </header>
        
        <div class="carousell">
            <div class="cascade-slider_container " id="cascade-slider">
                <div class="cascade-slider_slides">
                    <a href="/iBook/Animal%20farm/">
                        <div class="cascade-slider_item">
                            <h3>Animal Farm</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Animal_Farm_-_1st_edition.jpg/330px-Animal_Farm_-_1st_edition.jpg"
                                width="300px" height="400px" alt="Animal Farm">
                        </div>
                    </a>
                    <a href="iBook/A%20Clockwork%20Orange/">
                        <div class="cascade-slider_item">
                            <h3>A Clockwork Orange</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/en/2/23/Clockwork_orange.jpg" width="300px"
                                height="400px" alt="A Clockwork Orange">
                        </div>
                    </a>
                    <a href="/iBook/The%20Plague/">
                        <div class="cascade-slider_item">
                            <h3>The Plague</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/La_Peste_book_cover.jpg/330px-La_Peste_book_cover.jpg"
                                width="300px" height="400px" alt="The Plague">
                        </div>
                    </a>
                    <a href="/iBook/Dune%20Messiah/">
                        <div class="cascade-slider_item">
                            <h3>Dune Messiah</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/en/4/46/Dune_Messiah-Frank_Herbert_%281969%29_First_edition.jpg" width="300px" height="400px" alt="Dune Messiah">
                        </div>
                    </a>
                    <a href="/iBook/Blade%20Runner%202:%20The%20Edge%20of%20Human/">
                        <div class="cascade-slider_item">
                            <h3>Blade Runner 2</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/en/c/c0/Blade_Runner_2_The_Edge_of_Human_KW_Jeter_cover.jpg"
                                width="300px" height="400px" alt="Blade Runner 2: The Edge of Human">
                        </div>
                    </a>
                    <a href="/iBook/Fahrenheit%20451/">
                        <div class="cascade-slider_item">
                            <h3>Farenheit 451</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/en/d/db/Fahrenheit_451_1st_ed_cover.jpg" width="300px" height="400px" alt="Farenheit 451">
                        </div>
                    </a>
                    <a href="/iBook/The%20Trial/">
                        <div class="cascade-slider_item">
                            <h3>The Trial</h3>
                            <img src="https://upload.wikimedia.org/wikipedia/en/f/f9/TrialKafka.jpg" width="300px" height="400px" alt="The Trial">
                        </div>
                    </a>
                    <centre>
                        <ol class="cascade-slider_nav">
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                            <li class="cascade-slider_dot"></li>
                        </ol>
                    </centre>
                </div>
    
                <span class="cascade-slider_arrow cascade-slider_arrow-left" style="font-size: xx-large;" data-action="prev"><</span>
                <span class="cascade-slider_arrow cascade-slider_arrow-right" style="font-size: xx-large;" data-action="next">></span>
            </div>
            
        </div>
    
        <div id="fil">
            <h2>“Never trust anyone who has not brought a book with them.”
                <br>― Lemony Snicket, Horseradish
            </h2>
        </div>
    <script src="/static/js/home.js"></script>
    
{% endblock tail %}