{% extends "base.html" %}
{% load static %}

{% block content %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/book.css">
        <style>
            .container{
                margin-bottom: 10em;
            }
            footer{
                bottom: 0;
            }
        </style>
        <title>Search Page</title>
    </head>

    <body>
        
        <header>
            {% endblock content %}
            {% block tail %}
        </header>

        <div class="naviglinks">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Genres</h2>
                        <ul>
                            <li>Adventure novel</li>
                            <li>Autobiography</li>
                            <li>Children's literature</li>
                            <li>Cyberprunk</li>
                            <li>Epistolary novel</li>
                            <li>Fantasy</li>
                            <li>Fiction</li>
                            <li>Gothic Fiction</li>
                            <li>Historical Fiction</li>
                            <li>Mystery</li>
                            <li>Parody</li>
                            <li>Philosophy</li>
                            <li>Religious text</li>
                           
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        
        <h2 style="margin-top: 150px;margin-left:400px;color: white;">Search Result is:</h2>
        <div class="container bookscont px-4">
            <div class="row gx-5 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                {% for book in search %}
                <div class="inner_card">
                    
                    <div class="col bg-light p-3 cont">
                        <h5><a href="iBook/{{book.Bname}}">{{book.Bname}}</a></h5>
                        <h6>Author:{{book.Author}}</h6>
                        <h6>Price:{{book.Price}}</h6>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>


{% endblock tail %}